<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        <tr>
            <td class="left-col">
                First Name:
            </td>
            <td>
                {{first_name}}
            </td>
        </tr>
        <tr>
            <td class="left-col">
                Last Name:
            </td>
            <td>
                {{last_name}}
            </td>
        </tr>
        <tr>
            <td class="left-col">
                Email:
            </td>
            <td>
                {{email}}
            </td>
        </tr>
        <tr>
            <td class="left-col">
                Is your property list?
            </td>
            <td>
                {{is_list}}
            </td>
        </tr>
        <tr>
            <td class="left-col">
                Is your property
            </td>
            <td>
                {{is_vacant}}
            </td>
        </tr>
        <tr>
            <td class="left-col">
                What is the square footage of your home?
            </td>
            <td>
                {{footage}}
            </td>
        </tr>
        <tr>
            <td class="left-col">
                Comments/questions:
            </td>
            <td>
                {{comments}}
            </td>
        </tr>
        <tr>
            <td class="left-col">
                User Info:
            </td>
            <td>
                {{user_info}}
            </td>
        </tr>
    </table>
</body>
</html>
